/* 背景カラーが変化 */
.colorchange_bg {
    /* height: 250px; */
    /* margin: 30px 0; */
    animation: colorchange-color 10s infinite;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  
  @keyframes colorchange-color {
    0%, 100% {
      background-color: #6bb6ff;
    }
    25% {
      background-color: #1abc9c;
    }
    50% {
      background-color: #9b59b6;
    }
    75% {
      background-color: #85e3ec;
    }
  }
/* header{
    width: 100%;
    margin: 5px auto;
    padding: 5px auto;
} */
footer{
    width: 100%;
    /* position: absolute;←絶対位置 */
    bottom: 0; /*下に固定*/
}
