/* 背景カラーが変化 */
.colorchange_bg {
    /* height: 250px; */
    /* margin: 30px 0; */
    animation: colorchange-color 10s infinite;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  
  @keyframes colorchange-color {
    0%, 100% {
      background-color: #6bb6ff;
    }
    25% {
      background-color: #1abc9c;
    }
    50% {
      background-color: #9b59b6;
    }
    75% {
      background-color: #85e3ec;
    }
  }
/* header{
    width: 100%;
    margin: 5px auto;
    padding: 5px auto;
} */

/* コンテナのスタイル */
.footer-container {
  width: 100%; /*フッターを画面幅いっぱいに広げる
  /* overflow-x: hidden; 横スクロールを制御 */
  position: relative;
  min-height: 50vh;
}
footer{
    width: 100%;
    position: absolute; /*←絶対位置 */
    bottom: 0; /* 下に固定 */
} 


/* スマートフォン用のスタイル */
/* @media (max-width: 768px) { */
  /* .footer-container footer { */
    /* スマートフォン用の幅を調整 */
  /* } */
/* } */
@media screen and (max-width:480px) {

	/*　この位置に記述する　*/
	main {
		width: 100%;
	}
  /* .comment, .bookname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(10ch + 1px); /* 1ch ≈ 1文字の幅 */
  /* } */
  .table-container {
    /* width: 100%;
    table-layout: fixed; /* テーブルの列幅を固定する */
    /* overflow-x: auto; */
    /* width: 90%;  */
    overflow-x: scroll;
  }
}
.table-container table{
  white-space: nowrap;
  /* border: dashed #141313; */
}
#fav-table th{
  background-color: rgba(230, 26, 26, 0.226);
  /* font-size: 16px; */
}
#fav-table td{
  background-color: rgba(255, 255, 255, 0.982);
  border-color: black;
  /* font-size: 16px; */
}
#new_button {
  text-align: right;
}
/* .thead th{
  background-color: pink;
} */

